*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 @font-face {
    font-family: Typewriter;
    src: 
        url(fonts/American\ Typewriter\ Bold.woff) format("woff"),
        url(fonts/American\ Typewriter\ Bold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

html {
font-family: Typewriter , Verdana, Geneva, Tahoma, sans-serif;
}

body,
.content,
.headings,
#form1,
.row,
.log-in,
.hero-text,
.hero-image {
    display: flex;
}

.hero-image{
    position: relative;
    background-image: url(img/leaf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 40vw;
    height: 100vh;
}

.hero-text {
    z-index: 1;
    align-items: center;
}

.bgr {
    position: absolute;
    background-color: black;
    width:100%;
    height: 100px;
    opacity: 0.35;
    z-index: 0;
}

.hero-image p {
    color: aliceblue;
    font-size: 60px;
}

body{
    gap: 5vw;
}

.headings {
    margin-top: 10vh;
    margin-bottom: 10vh;
    flex-direction: column;
    gap: 3vh;
}

.content{
    flex-direction: column;
    margin-right: 5vw;
}

#form1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 5vw;
    margin-bottom: 2vh;
    gap: 3vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3)
}

.row {
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    gap: 1vh;
}

input {
    padding : 4px 0px;
}



button {
    width: 120px;
    height: 4vh;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: green;
    cursor: pointer;
}

.log-in {
    gap: 0.5rem;
}

.log-in a {
    text-decoration: none;
    background-color: lightskyblue;
    border-radius: 5px;
}

.create-login {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

@media only screen and (max-width: 800px)  {
    body {
        flex-direction: column;
        gap: 0;
    }
    .hero-image {
        width: 100%;
        height: 33vh;
    }
    .headings {
        margin: 2vh;
        gap: 1vh;
    }

    .content {
        margin: 0;
    }

    #form1 {
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: baseline;
        align-items: center;
    }

    .row {
        width: 70%;
    }

    button {
        margin: auto;
        margin-top: 10px;
    }
    .log-in {
        margin: auto;
    }
}